html {
	margin-left: 5em;
	margin-right: 10em;
	margin-top: 2em;
}

html {
	 font-family: "EB Garamond",  "LinuxLibertineORegular", "AseaRegular", "Times", serif; 
	font-size: 12pt;
}

div {

}

span.cite {
	color: maroon;
	opacity: 0.5;
	padding-right: 2em;
	display: inline-block;
	min-width: 4em;
	font-size: 85%;
}



div.stanza {
	margin-bottom: 2em;
}

div.text_column {
	float:left;
	margin-right: 2em;
}

div.nav {
	clear:both;
	margin: 1em 0 2em 0;
	width: 100%;
	display: block;
}

a {
	text-decoration: none;
	color:maroon;
	padding: 4px;
	opacity: 0.5;
}

a:hover {
	opacity: 1;
}

a:active {
	color: navy;
}

div.text {
	line-height: 0.5em;
	padding-bottom: 4em;
}


.bookHeader {
	font-weight: bold;
	padding-left: 5em;
	margin-bottom: 2em;
	color: maroon;
}

.block {
	display:inline-block;
	width: 100%;
	text-align: center;
	padding: 5px;
}

.textOnColor {
	/* does not work on a medium-gray background! */
    height: inherit;
    background: inherit;
    -webkit-background-clip: text;
    background-clip: text;
	color: transparent;
    text-align: center;
    filter: invert(1) grayscale(1) contrast(9);
    display: inline-block;
}

.color1 { 
	background-color: #e6194b;
}

.color2 { 
	background-color: #3cb44b;
}

.color3 { 
	background-color: #ffe119;
}

.color4 { 
	background-color: #4363d8;
}

.color5 { 
	background-color: #f58231;
}

.color6 { 
	background-color: #911eb4;
}

.color7 { 
	background-color: #46f0f0;
}

.color8 { 
	background-color: #f032e6;
}

.color9 { 
	background-color: #bcf60c;
}

.color10 { 
	background-color: #fabebe;
}

.color11 { 
	background-color: #008080;
}

.color12 { 
	background-color: #e6beff;
}

.color13 { 
	background-color: #9a6324;
}

.color14 { 
	background-color: #fffac8;
}

.color15 { 
	background-color: #800000;
}

.color16 { 
	background-color: #aaffc3;
}

.color17 { 
	background-color: #808000;
}

.color18 { 
	background-color: #ffd8b1;
}

.color19 { 
	background-color: #000075;
}

.color20 { 
	background-color: #ffffff;
}

.color22 { 
	background-color: #000000;
}


/*
.textOnColor {
	color: white; 
	mix-blend-mode: exclusion;
}
*/